.tank
{
    width: 32px;
    height: 39px;
    position: absolute;
    background: url("../img/t34.png");
}

html,
body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body
{
    background: url("../img/background2.png");
}

.gameinfo
{
    float: right;
    width: 170px;
    height: 30px;
    border: 2px solid ;
}

.killsinfo
{
    float: right;
    width: 80px;
    height: 30px;
}

.bulletinfo
{
    float: left;
    width: 90px;
    height: 30px;
}